extends layout

block content
    h1= title
    
    form(action='/new', method='POST') 
        p    
            | Author:
            input(type= 'text', name= 'user', placeholder= 'required')
            |   message: 
            input(type= 'text', name= 'text', placeholder= 'required')
        input(type= 'submit' value= 'Submit')
    